@inject AppState AppState

<FluentDesignSystemProvider AccentBaseColor="#D83B01" BaseLayerLuminance="AppState.SelectedLightMode">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</FluentDesignSystemProvider>

@code{

    protected override void OnInitialized()
    {
        //This will allos to cascade tje selected value from NavMenu component
         AppState.OnChange += StateHasChanged;
    }
}